@import 'styles/_colors.scss';
@import 'styles/_fonts.scss';

.intro {
	position:relative;
	background-image: url(./intro-hero.jpg);
	padding-top: 8rem;
	padding-bottom: 7rem;
	min-height: 800px;
}
.intro__title {
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	color: $yellow;
}
.intro__title h1 {
	font-size: 1.8666666666666667rem;
	font-weight: 900;
}
.intro__title--big {
	margin-top: 0.5rem;
	font-size: 4rem;
}
@media only screen and (max-width: 640px)  {
	.intro {
		background-color: $dark-blue;
	}
}