@import 'styles/_colors.scss';

.sectionHeader {
	padding-top: 10rem;
	padding-bottom: 6rem;
	text-align: center;
	margin-bottom: 0;
}
.sectionHeader__title {
	font-family: 'Montserrat', sans-serif;
	font-size: 2rem;
	font-weight: 900;
	color: $yellow;
	justify-content: center;
}
.stpoServices__advisoryServices {
	background-image: url(./Advisory-Services.jpg);
}
.stpoServices__managedServices {
	background-image: url(./Managed-Services.jpg);
}
.stpoServices__technologyServices {
	background-image: url(./Technology-services.jpg);
}
.stpoServices__partnerWithUs {
	background-image: url(./Partner-with-Us.jpg);
}