@import 'styles/_colors.scss';

.partnerWithUs {
	padding-bottom: 10rem;
}
.partnerWithUs__button {
	width: 30%;
	color: $white;
	font-family: 'Montserrat', sans-serif;
	font-weight: 900;
	font-size: 1.3rem;
	text-transform: uppercase;
}
.partnerWithUs__button--marginTop {
	margin-top: 7rem;
}
@media only screen and (max-width: 640px)  {
	.partnerWithUs__button {
		width: 60%;
	}
}
