$dark-blue: #27274c;
$yellow: #f9c907;
$light-yellow: #fcca00;
$white: #ffffff;
$dark-white: #F3F3F5;
$purple: #5938ab;
$grey-text: #8c8c8c;
$light-grey: #efefef;
$dark-grey: #352e38;
$menu-subtitle: #686868;
$menu-item: #959595;
$menu-line: #e3e3e3

