.platformItem {
  min-height: 230px; }

.platformItem__img {
  padding: 5rem; }

.platformItem__desc {
  background: #f9c907 !important;
  padding: 0 !important; }

.platformItem__title {
  padding-top: 1rem;
  padding-right: 0.5rem;
  padding-left: 3rem;
  background: #ffffff !important; }

.platformItem__text {
  padding: 1rem; }

.platformItem__imgColor {
  width: 50%; }

@media only screen and (max-width: 1100px) {
  .platformItem__title {
    padding-left: 1.2rem; } }

@media only screen and (max-width: 992px) {
  .platformItem__img {
    margin: 0 auto; }
  .platformItem__imgColor {
    margin: 0 auto;
    width: 40%;
    padding-bottom: 1rem; } }
